

h1{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}
h2{
    text-align: center;
}

p{
    color: #6a6a6a;
    padding: 10px 10px;
    margin: 30px 30px;
    text-align: center;
    font-size: 20px;
}