body {
  margin: 0;
  padding: 0;
}

.container-header {
  width: 100%;
  height: 6rem;
  background-color: rgba(54, 139, 133, 0.6);
}

.menu-header {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-header li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 190, 162);
  margin-top: 10px;
  width: 12%;
  height: 2rem;
  color: black;
  text-decoration: none;
  list-style: none;
  box-shadow: 3px 0px 12px 1px rgba(0, 0, 0, 0.71);
}

.menu-header li:hover {
  box-shadow: 12px 12px 1px -7px rgba(84, 130, 191, 0.22);
}

.slider {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: o;
  width: 400%;

  animation: cambio 20s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

.slider li {
  width: 80%;
  list-style: none;
}

.slider img {
  height: 30rem;
  width: 100%;
}
.container {
  width: 100%;
  height: 30rem;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.footer {
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
